<p id="notice"><%= notice %></p>
<div id="errmsg"></div>
<%= render @post %>
<div style="margin-left: 3%;margin-top: -1%">
<% if user_signed_in? %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<% end %>
</div>
<h2 style="margin-left: 3%">Comments</h2>
<div id="comments">
  <%= render @post.comments.reverse %>
</div>
<div class="comments-textarea">
<%= form_for [@post, Comment.new], remote: true do |f| %>
    <p>
    <strong><%= f.label :body, "New Comment" %></strong><br/>
    <%= f.text_area :body, size: "40x8", placeholder: "Enter Comment", required: true %>
    </p>
    <p><%= f.submit "Add Comment"%></p>
<% end %>
</div>
